/* Estilos para la sección "Sobre Nosotros" */
.sobre-nosotros {
    display: flex;
    gap: 2rem;

    align-items: center;
}

.sobre-nosotros div {
    text-align: center;
}

/* Estilos para la sección "Productos" */
.productos {
    display: flex;
    justify-content: space-around;
}

/* Estilos para la sección "La Piel" */
.la-piel {
    text-align: center;
}

.la-piel p {
    width: 60%;
    margin: 1.5rem auto;
}

.la-piel img {
    object-fit: cover;
    object-position: bottom;

    aspect-ratio: 2.75;
}

/* Estilos para la sección "Tiendas" */
.tiendas {
    display: flex;
    justify-content: space-around;
}

.tiendas .mapa {
    width: 60%;
}

.tiendas iframe {
    width: 100%;
    height: 100%;
}

.tiendas div {
    width: 20%;
}

.tiendas button {
    margin-top: 0.5rem;
}
