/* Estilos para la sección "Sobre Nosotros" */
.sobre-nosotros > *{
    display: flex;
    align-items: center;
}

.sobre-nosotros div {
    text-align: center;
}

/* Estilos para la sección "Productos" */


/* Estilos para la sección "La Piel" */
.la-piel {
    text-align: center;
}

.la-piel p {
    width: 60%;
    line-height: 2.5rem;
    margin: 1.5rem auto;
}

.la-piel img {
    object-fit: cover;
    object-position: bottom;

    aspect-ratio: 2.75;
}

/* Estilos para la sección "Tiendas" */

.tiendas iframe {
    width: 100%;
    height: 100%;
}

.tiendas button {
    margin-top: 0.5rem;
}
