@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:wght@400;700&display=swap");

:root {
  --color-fondo: #f9fafb;
  --color-acento: #600b15;
  --color-menu: #eee;
  --color-texto: #1a281f;
}

/* Estilos globales */

* {
  box-sizing: border-box;
}

:target {
  margin-top: 2rem;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.6rem;

  font-family: "Libre Baskerville", serif;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

img {
  width: 100%;
  display: block;
}

a:has(img) {
  display: block;
  width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 2.45rem;
}

h2 {
  font-size: 1.95rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.55rem;
}

button {
  border: none;
  border-radius: 0;

  padding: 0.5rem 1.5rem;
  height: 3rem;
  line-height: normal;
  width: fit-content;

  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;

  background-color: var(--color-acento);
  color: var(--color-fondo);

  cursor: pointer;
}

input[type="search"] {
  height: 3rem;
  padding-left: 2.5rem;

  background-color: white;
  background-image: url("../img/icono-lupa.svg");
  background-size: 1.5rem;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

/* Estilos para el header */
.cabecera {
  background-color: var(--color-acento);
  color: var(--color-fondo);

  padding-inline: 5rem;
  line-height: normal;
}

.cabecera > * {
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

nav ul {
  list-style-type: none;
}

.menu {
  padding: 0.5rem 2rem;

  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: bold;

  align-items: center;

  background-color: var(--color-menu);
  box-shadow: #ccc 2px 2px 5px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu li {
  display: inline;
}

.menu li::after {
  content: " |";
  padding-inline: 0.75rem;

  opacity: 0.5;
}

.menu li:last-child::after {
  content: "";
}

.menu a {
  text-decoration: none;
  color: var(--color-texto);
}

/* Estilos del main */

section {
  margin-block: 4rem;
}

/* Estilos de las tarjetas */

.tarjeta {
  text-align: center;
  margin: 1rem auto;
}

.tarjeta > * {
  padding-bottom: 1rem;
}

.tarjeta a {
  margin: 0 auto;
}

.tarjeta img {
  max-width: 250px;
  object-fit: cover;
  aspect-ratio: 1;
}

.tarjeta p {
  height: 3rem;
}

/* Estilos para el footer */
footer {
  background-color: var(--color-acento);
  color: var(--color-fondo);
  text-align: center;
}

footer a {
  color: var(--color-fondo);
}

footer .copyright span,
footer .politicas a {
  text-decoration: none;
  display: block;
  padding-bottom: 0.75rem;
}

footer .mapa-sitio {
  text-align: center;
}

.mapa-sitio ul {
  list-style-type: none;
  padding: 0;
}

.mapa-sitio a {
  text-decoration: none;
}

footer > * {
  align-items: center;
}
